@font-face {
   font-family: "Red Hat Display";
   src: url("fonts/Red Hat Display Bold.woff") format("woff"), url("fonts/Red Hat Display Bold.eot") format("embedded-opentype"), url("fonts/Red Hat Display Bold.ttf") format("truetype"), url("fonts/Red Hat Display Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Red Hat Display";
   src: url("fonts/Red Hat Display Bold Italic.woff") format("woff"), url("fonts/Red Hat Display Bold Italic.eot") format("embedded-opentype"), url("fonts/Red Hat Display Bold Italic.ttf") format("truetype"), url("fonts/Red Hat Display Bold Italic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Red Hat Display";
   src: url("fonts/Red Hat Display Italic.woff") format("woff"), url("fonts/Red Hat Display Italic.eot") format("embedded-opentype"), url("fonts/Red Hat Display Italic.ttf") format("truetype"), url("fonts/Red Hat Display Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Red Hat Display";
   src: url("fonts/Red Hat Display Regular.woff") format("woff"), url("fonts/Red Hat Display Regular.eot") format("embedded-opentype"), url("fonts/Red Hat Display Regular.ttf") format("truetype"), url("fonts/Red Hat Display Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Red Hat Display ExtraBold";
   src: url("fonts/Red Hat Display ExtraBold.woff") format("woff"), url("fonts/Red Hat Display ExtraBold.eot") format("embedded-opentype"), url("fonts/Red Hat Display ExtraBold.ttf") format("truetype"), url("fonts/Red Hat Display ExtraBold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Red Hat Display ExtraBold";
   src: url("fonts/Red Hat Display ExtraBold Italic.woff") format("woff"), url("fonts/Red Hat Display ExtraBold Italic.eot") format("embedded-opentype"), url("fonts/Red Hat Display ExtraBold Italic.ttf") format("truetype"), url("fonts/Red Hat Display ExtraBold Italic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Red Hat Display Medium";
   src: url("fonts/Red Hat Display Medium.woff") format("woff"), url("fonts/Red Hat Display Medium.eot") format("embedded-opentype"), url("fonts/Red Hat Display Medium.ttf") format("truetype"), url("fonts/Red Hat Display Medium.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Red Hat Display Medium";
   src: url("fonts/Red Hat Display Medium Italic.woff") format("woff"), url("fonts/Red Hat Display Medium Italic.eot") format("embedded-opentype"), url("fonts/Red Hat Display Medium Italic.ttf") format("truetype"), url("fonts/Red Hat Display Medium Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Red Hat Display SemiBold";
   src: url("fonts/Red Hat Display SemiBold.woff") format("woff"), url("fonts/Red Hat Display SemiBold.eot") format("embedded-opentype"), url("fonts/Red Hat Display SemiBold.ttf") format("truetype"), url("fonts/Red Hat Display SemiBold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Red Hat Display SemiBold";
   src: url("fonts/Red Hat Display SemiBold Italic.woff") format("woff"), url("fonts/Red Hat Display SemiBold Italic.eot") format("embedded-opentype"), url("fonts/Red Hat Display SemiBold Italic.ttf") format("truetype"), url("fonts/Red Hat Display SemiBold Italic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}